.mat-radio-button{
  margin-left: 16px;
}

.center {
  text-align: center;
}

.space-buttons {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 30%;
}
